<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('已上线的消费者列表')"/>
</head>
<body class="pear-container">
<!--<div class="layui-card">-->
<!--    <div class="layui-card-body">-->
<!--        <div class="col-sm-12 search-collapse">-->
<!--            <form id="formId" class="layui-form">-->
<!--                <div class="layui-form-item">-->
<!--                    <label class="layui-form-label">消费者id：</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="id" placeholder="请输入id"-->
<!--                               class="layui-input"/>-->
<!--                    </div>-->
<!--                    <label class="layui-form-label">注册Key：</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="key" placeholder="请输入注册Key"-->
<!--                               class="layui-input" lay-required/>-->
<!--                    </div>-->
<!--                    <label class="layui-form-label">注册Value：</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" name="value" placeholder="请输入注册Value"-->
<!--                               class="layui-input" lay-required/>-->
<!--                    </div>-->
<!--                    <label class="layui-form-label">状态：</label>-->
<!--                    <div class="layui-input-inline">-->
<!--                        <select name="status" lay-requireddict-code="input">-->
<!--                            <option value="">所有</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit-->
<!--                            lay-filter="commonRegistryData-query">-->
<!--                        <i class="layui-icon layui-icon-search"></i>-->
<!--                        查询-->
<!--                    </button>-->
<!--                    <button type="reset" class="pear-btn pear-btn-md">-->
<!--                        <i class="layui-icon layui-icon-refresh"></i>-->
<!--                        重置-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="layui-card">
    <div class="layui-card-body">
        <table id="commonRegistryData-table" lay-filter="commonRegistryData-table"></table>
        <script type="text/html" id="commonRegistryData-toolbar">
            <button sec:authorize="hasPermission('/mq/commonRegistryData/add','mq:commonRegistryData:add')"
                    class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
                <i class="layui-icon layui-icon-add-1"></i>
                新增
            </button>
<!--            <button sec:authorize="hasPermission('/mq/commonRegistryData/remove','mq:commonRegistryData:remove')"-->
<!--                    class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">-->
<!--                <i class="layui-icon layui-icon-delete"></i>-->
<!--                批量启停-->
<!--            </button>-->
        </script>
        <script type="text/html" id="commonRegistryData-bar">
            <button sec:authorize="hasPermission('/mq/commonRegistryData/edit','mq:commonRegistryData:edit')"
                    class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i
                    class="layui-icon layui-icon-edit"></i>
            </button>
            <button sec:authorize="hasPermission('/mq/commonRegistryData/remove','mq:commonRegistryData:remove')"
                    class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
                    class="layui-icon layui-icon-delete"></i>
            </button>
        </script>
    </div>
</div>

<script id="user-enable" type="text/html">
    <input type="checkbox" name="enable" value="{{d.consumerId}}" lay-skin="switch" lay-text="在线|离线"
           lay-filter="user-enable" {{ d.consumerStatus== 'RUNNING' ? 'checked' : '' }} />
</script>

<th:block th:include="include :: footer"/>
<script>
    layui.use(['table', 'form', 'jquery', 'dictionary'], function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;

        let prefix = "/mq/commonRegistryData/";

        let cols = [
            [
                {type: 'checkbox'},
                {
                    field: 'consumerId',
                    title: 'id'
                },
                {
                    field: 'consumerTopic',
                    title: 'topic'
                },
                {
                    field: 'consumerGroup',
                    title: 'group'
                },
                {
                    field: 'consumerThreadUuid',
                    title: 'threadUuid'
                },
                {
                    field: 'consumerRegistryKey',
                    title: 'registryKey'
                },
                {
                    field: 'consumerRegistryValue',
                    title: 'registryValue'
                },
                {
                    field: 'ip',
                    title: 'ip'
                },
                {title: '在线状态', field: 'consumerStatus', align: 'center', templet: '#user-enable', width: 120}
                // {title: '操作', toolbar: '#commonRegistryData-bar', align: 'center', width: 130}
            ]
        ]

        table.render({
            elem: '#commonRegistryData-table',
            url: prefix + 'data',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#commonRegistryData-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports']
        });

        table.on('tool(commonRegistryData-table)', function (obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(commonRegistryData-table)', function (obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        form.on('submit(commonRegistryData-query)', function (data) {
            table.reload('commonRegistryData-table', {where: data.field})
            return false;
        });


        form.on('switch(user-enable)', function (obj) {
            // 弹出输入框
            layer.prompt({
                title: '输入消费者端口',
                formType: 0, // 输入框类型，0 表示普通文本输入框
                btn: ['确认', '取消'],
                btn2: function () {
                    table.reload('commonRegistryData-table', {where: ''})
                }, cancel: function () {
                    table.reload('commonRegistryData-table', {where: ''})
                }
            },function  (value, index, elem) {
                let operate;
                if (obj.elem.checked) {
                    operate = "RUNNING";
                } else {
                    operate = "STOP";
                }
                console.log('{"consumerId":' + obj.value + ',"consumerStatus":"' + operate + '","port":"' + value + '"}');
                let loading = layer.load();
                $.ajax({
                    url: prefix + 'update',
                    data: '{"consumerId":' + obj.value + ',"consumerStatus":"' + operate + '","port":"' + value + '"}',
                    dataType: 'json',
                    contentType: 'application/json',
                    type: 'put',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000});
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                            table.reload('commonRegistryData-table', {where: ''})
                        }

                    }
                })
                layer.close(index);  // 关闭输入框
            });
        });


        window.add = function () {
            layer.open({
                type: 2,
                title: '新增已上线的消费者',
                shade: 0.1,
                area: ['550px', '500px'],
                content: prefix + 'add'
            });
        }

        window.edit = function (obj) {
            layer.open({
                type: 2,
                title: '修改已上线的消费者',
                shade: 0.1,
                area: ['550px', '500px'],
                content: prefix + 'edit?id=' + obj.data['id']
            });
        }

        window.remove = function (obj) {
            layer.confirm('确定要删除该已上线的消费者', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: prefix + "remove/" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        window.batchRemove = function (obj) {
            let data = table.checkStatus(obj.config.id).data;
            if (data.length === 0) {
                layer.msg("未选中数据", {icon: 3, time: 1000});
                return false;
            }
            let ids = "";
            for (let i = 0; i < data.length; i++) {
                ids += data[i].id + ",";
            }
            ids = ids.substr(0, ids.length - 1);
            layer.confirm('确定要删除这些已上线的消费者', {icon: 3, title: '提示'}, function (index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: prefix + "batchRemove",
                    dataType: 'json',
                    data: {"ids": ids},
                    type: 'delete',
                    success: function (result) {
                        layer.close(loading);
                        if (result.success) {
                            layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                table.reload('commonRegistryData-table');
                            });
                        } else {
                            layer.msg(result.msg, {icon: 2, time: 1000});
                        }
                    }
                })
            });
        }

        window.refresh = function (param) {
            table.reload('commonRegistryData-table', {where: param});
        }
    })
</script>
</body>
</html>