<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pearadmin.modules.sys.mapper.SysDictDataMapper">

    <select id="selectByCode"  resultType="SysDictData">
        select *
        from sys_dict_data s
        where s.type_code = #{typeCode}
        order by s.data_value asc
    </select>

    <select id="queryTableDictItemsByCode" parameterType="string"  resultType="SysDictData">
        select ${text} as "data_label", ${code} as "data_value"
        from ${table}
    </select>

    <select id="queryTableDictItemsByCodeAndFilter"  resultType="SysDictData">
        select ${text} as "data_label", ${code} as "data_value" from ${table}
        <if test="filterSql != null and filterSql != ''">
            where ${filterSql}
        </if>
    </select>

    <select id="queryTableDictByKeys" resultType="SysDictData">
        select ${text} as "data_label", ${code} as "data_value" from ${table} where ${code} in
        <foreach item="key" collection="keyArray" open="(" separator="," close=")">
            #{key}
        </foreach>
    </select>

    <delete id="deleteByCode" parameterType="string">
        delete
        from sys_dict_data
        where type_code = #{code}
    </delete>

</mapper>