<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearadmin.modules.mq.mapper.MqCommonRegistryMessageMapper" >
	
	<resultMap id="MqCommonRegistryMessage" type="com.pearadmin.modules.mq.domain.MqCommonRegistryMessage" >
		<result column="id" property="id" />
		<result column="data" property="data" />
		<result column="addTime" property="addTime" />
	</resultMap>

	<sql id="Base_Column_List">
		t.`id`,
		t.`data`,
		t.`addTime`
	</sql>

	<insert id="add" parameterType="com.pearadmin.modules.mq.domain.MqCommonRegistryMessage" >
		INSERT INTO mq_common_registry_message (
			`data`,
			`addTime`
		) VALUES
		(
			#{mqCommonRegistryMessage.data},
			NOW()
		)
	</insert>

	<select id="findMessage" parameterType="java.util.HashMap" resultMap="MqCommonRegistryMessage" >
		SELECT <include refid="Base_Column_List" />
		FROM mq_common_registry_message AS t
		<if test="excludeIds != null and excludeIds.size() > 0" >
			where t.id not in
			<foreach collection="excludeIds" item="idItem"  index="index" separator="," open="(" close=")">
				#{idItem}
			</foreach>
		</if>
		ORDER BY t.id ASC
	</select>

	<delete id="cleanMessage" parameterType="java.util.HashMap" >
		DELETE FROM mq_common_registry_message
		WHERE NOW() <![CDATA[ > ]]> DATE_ADD(addTime, Interval #{messageTimeout} SECOND)
	</delete>

</mapper>