<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearadmin.modules.mq.mapper.MqCommonRegistryDataMapper" >
	
	<resultMap id="mqCommonRegistryData" type="com.pearadmin.modules.mq.domain.MqCommonRegistryData" >
		<result column="id" property="id" />
		<result column="ip" property="ip" />
		<result column="key" property="key" />
		<result column="value" property="value" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
	</resultMap>


	<select id="selectMqCommonRegistryDataList" parameterType="com.pearadmin.modules.mq.domain.MqCommonRegistryData" resultMap="mqCommonRegistryData">
		select `id`, `ip` , `key`,`value`,`update_time`,`status` from `mq_common_registry_data`
		<where>
			<if test="id != null "> and `id` = #{id}</if>
			<if test="key != null  and key != ''"> and `key` = #{key}</if>
			<if test="value != null  and value != ''"> and `value` = #{value}</if>
			<if test="updateTime != null "> and `update_time` = #{updateTime}</if>
			<if test="status != null  and status != ''"> and `status` = #{status}</if>
			<if test="ip == null  and ip == ''"> and `ip`  is not null </if>
		</where>
	</select>



	<sql id="Base_Column_List">
		t.`id`,
		t.`ip`,
		t.`key`,
		t.`value`,
		t.`update_time`,
		t.`status`
	</sql>

	<update id="refresh" parameterType="com.pearadmin.modules.mq.domain.MqCommonRegistryData"  >
		UPDATE mq_common_registry_data
		SET
			`update_time` = now()
		WHERE `key` = #{mqCommonRegistryData.key}
			and `value` = #{mqCommonRegistryData.value}
	</update>

	<insert id="add" parameterType="com.pearadmin.modules.mq.domain.MqCommonRegistryData" >
		INSERT INTO mq_common_registry_data (
            `ip`,
			`key`,
			`value`,
			`update_time`
		) VALUES
		(
			#{mqCommonRegistryData.ip},
			#{mqCommonRegistryData.key},
			#{mqCommonRegistryData.value},
			now()
		)
	</insert>

	<select id="findData" parameterType="java.util.HashMap" resultMap="mqCommonRegistryData">
		SELECT <include refid="Base_Column_List" />
		FROM mq_common_registry_data AS t
		where t.key = #{key}
		ORDER BY t.value ASC
	</select>

	<delete id="cleanData" parameterType="java.util.HashMap" >
		DELETE FROM mq_common_registry_data
		WHERE NOW() <![CDATA[ > ]]> DATE_ADD(update_time, Interval #{timeout} SECOND)
	</delete>

	<delete id="deleteDataValue" parameterType="java.util.HashMap" >
		DELETE FROM mq_common_registry_data
		WHERE `key` = #{key}
			and `value` = #{value}
	</delete>

	<select id="count" resultType="java.lang.Integer" >
		SELECT count(1)
		FROM mq_common_registry_data
	</select>

	<select id="pageList" parameterType="java.util.HashMap" resultMap="mqCommonRegistryData">
		SELECT <include refid="Base_Column_List" />
		FROM mq_common_registry_data AS t
		where 1 = 1
		<if test="key != null and key != ''">
			AND t.key = #{key}
		</if>
		ORDER BY t.key DESC
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.HashMap" resultType="int">
		SELECT count(1)
		FROM mq_common_registry_data AS t
		where 1 = 1
		<if test="key != null and key != ''">
			AND t.key = #{key}
		</if>
	</select>

	<update id="updateStatus" parameterType="java.util.HashMap">
		UPDATE mq_common_registry_data
		SET
			`status` = #{status}
		WHERE `id` = #{id}
	</update>

</mapper>